@font-face {
	font-family: 'montserratmedium';
	src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 'montserratbold';
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/Montserrat-Light.ttf');
}

* { box-sizing: border-box; }
body {
    font-family: 'Open Sans';
    font-size:14px;
}

header{
	height: 52px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    z-index: 100;
    position: fixed;
}

.navbar-top{
	max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.navbar-top-icons ul li a{
	color: #1e1e1e;
}

.img-top-logo-big{
	display: flex;
    align-items: center;
}
.img-top-logo-big a{
	display: flex;
	align-items: center;
}
.img-top-logo-big img{
	float: left;
}

.container-home-image{
	background-image: url(../images/wallpaper_small.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 100%;
	margin-top: -20px;
	right: 0;
	display: flex;
	position: absolute;
}

.effect-phrase{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'montserratmedium', sans-serif;
	background-color: rgba(6, 30, 38, .65);
}

.effect-phrase h1{
	max-width: 600px;
	font-size: 32px;
}

.effect-phrase h1 span{
	color: #F79321;
}

.container-content-homepage{
	margin-top: 350px;
}

.site-container{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

.site-map{
	text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	color: black;
	padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.site-map a{
	color: black;
    font-weight: 500;
}
.site-map a:hover{
	color: #F79321;
	text-decoration: none;
}

.site-map span{
	font-weight: bold;
	color: #F79321;
}

.filterarea{
	border-right: 1px solid #EEEEEE;
}
.responsive-categories-title {
	display: none;
	text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.responsive-categories-title i{
	float: right;
	margin-right: 10px;
}

label span{
	color: red;
	font-weight: bold;
}

.home_category_container{
    height: 70px;
}
.home_category_container ul{
	height: 70px;
	line-height: 50px;
}
.home_category_container ul li{
	border-bottom: 2px solid transparent;
}
.home_category_container ul li:hover{
	border-color: blue;
}
.home_category_container ul li a{
	color: black;
}
.home_category_container ul li input{
	margin-top: 15px;
}
.home_category_container .active{
	border-color: blue;
}

footer {
	margin-top: 50px;
	padding-top:30px;
	background-color: #F9F9F9;
    border-top: 1px solid #e0e0e0;
}
.subarea {
	margin-top:50px;
	margin-bottom:50px;
}
.subarea form {
	margin:0;
	padding:0;
	display: flex;
}
.subarea:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
    margin-top: 30px;
}
.subarea .subemail {
	margin:0;
	flex: 3;
	height:60px;
	display:inline-block;
	border:0;
	padding:0;
	border:1px solid #E0E0E0;
	border-radius:5px 0 0 5px;
	outline:0;
	padding-left:15px;
}
.subarea button {
	flex: 1;
	cursor: pointer;
	margin:0;
	height:60px;
	display:inline-block;
	border:0;
	padding:0;
	outline:0;
	border-radius:0 5px 5px 0;
	margin-left: -5px;
	color:#FFF;
	background-color:#F79321;
}
.subarea button:hover {
	background-color:#F79321;
}
footer h3 {
	margin-top:0;
	margin-left:0;
	margin-bottom:30px;
	font-size:18px;
}
.links {
	margin-bottom:50px;
}
.linkgroups a {
	color: #acacac;
	text-decoration: none;
}
.linkgroups a:hover {
	color:#F79321;
}
.linkgroups ul,
.linkgroups li {
	margin:0 0 12px 0;
	padding:0;
	list-style:none;
}
.copyright {
	background-color: #3D3D3D;
    padding: 17px 0;
    line-height: 30px;
    color: #8a8a8a;
}
.copyright span {
	color:#FFF;
}
.no-padding {
	padding:0;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.embed-container{
	position: relative;
	/*padding-bottom: 56.25%;*/
	padding-bottom: 250px;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.list-subcategories{
	list-style: none;
	padding: 0;
}

.list-subcategories li{
	list-style: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.list-subcategories li a{
	display: block;
	color: black;
}
.list-subcategories li a:hover{
	color: #F79321;
	text-decoration: none;
}

.div-invisible{
	display: none;
}
.image-area{
	padding: 10px;
	border: 1px solid #bbb;
	margin-top: 15px;
	max-width: 400px;
}
.btn-orange{
	background-color: #F79321;
	border-color: #F79321;
	color: #FFFFFF;
}
.slick-prev:before, .slick-next:before {
	color: black;
}
.slick-prev {
	z-index: 1;
    margin-left: 35px;
}
.slick-next {
	z-index: 1;
    margin-right: 35px;
}
.destaques h3{
	border-bottom: 2px solid #F79321;
    padding-bottom: 10px;
    font-family: 'montserrat-medium', sans-serif;
}
.destaques_container{
	padding-left: 15px;
	padding-right: 15px;
}

.ad-container{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: all .3s ease-out;
	height: auto;
	margin-bottom: -15px;
	overflow: hidden;
}
.ad-container:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.medias_container{
	padding: 0;
}
.ad-image-container{
	overflow: hidden;
	height: 250px;
	display: flex!important;
    justify-content: center;
}
.ad-image-container img{
	/*
    width: auto;
	height: 100%;
	*/
    margin: auto;
}
.ad-description{
	display: block;
	height: auto;
	cursor: pointer;
	padding: 20px;
	color: #656565;
	font-family: 'montserratmedium', sans-serif;
}
.ad-description:hover{
	text-decoration: none;
	color: #656565;
}
.ad-description-title{
	color: #262626;
}
.ad-description-abstract{
	display: block;
    max-height: 70px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rating-image {
    margin: 0;
    width: 82px;
	height: 15px;
	margin-bottom: 10px;
	background-image: url(../images/rating.png);
    background-repeat: no-repeat;
}
.rating-image.rating-stars-2_0{
	background-position:0 0
}
.rating-image.rating-stars-2_5{
	background-position:0 -15px
}
.rating-image.rating-stars-3_0{
	background-position:0 -30px
}
.rating-image.rating-stars-3_5{
	background-position:0 -45px
}
.rating-image.rating-stars-4_0{
	background-position:0 -60px
}
.rating-image.rating-stars-4_5{
	background-position:0 -75px
}
.rating-image.rating-stars-5_0{
	background-position:0 -90px
}

.promo-box {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 1;
}
.promo.sale {
    background: #ff8327;
}
.promo.bestseller {
    background: #ea4f3b;
}
.promo.new{
	background: #2183c9;
}
.promo {
	width: fit-content;
    height: 33px;
    text-align: center;
    font-family: 'montserratbold', sans-serif;
	position: absolute;
    right: 0;
}
.promo-text {
    color: #fff;
    font-size: .75rem;
	line-height: 33px;
	text-transform: uppercase;
	padding-left: 15px;
    padding-right: 15px;
	display: block;
	width: 100%;
}
.promo.sale:after {
    border-color: #fd6c00 transparent transparent;
}
.promo.bestseller:after {
    border-color: #cd2b16 transparent transparent;
}
.promo.new:after{
	border-color: #2183c9 transparent transparent
}
.promo+.promo {
    margin-top: 38px;
}
.promo+.promo+.promo {
    margin-top: 77px;
}
.promo:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.vp-player-layout{
	left: 0px;
    top: 0px;
    width: 315px;
    height: 250px;
}

@media all and (max-width: 575px) {
	.filterarea-categories-container{
		display: none;
	}
	.responsive-categories-title {
		display: block;
	}
	.links{
		text-align: center;
	}
	.linkgroups .col-sm-4{
		margin-top: 10px;
		padding-top: 10px;
	}
	.footer-corporation-info{
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}

	.slick-prev:before, .slick-next:before {
		font-size: 35px;
	}
	.slick-next {
		margin-right: 50px;
	}
}