@font-face {
	font-family: 'montserratmedium';
	src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 'montserratbold';
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'montserratlight';
	src: url('../fonts/Montserrat-Light.ttf');
}

* { box-sizing: border-box; }
body {
    font-family: 'Open Sans';
    font-size:14px;
	background-color: #efefef;
}

label span{
	color: red;
	font-weight: bold;
}
.no-padding {
	padding:0;
}
.form-control{
	border-radius: 0px;
}

header{
	height: 52px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    z-index: 100;
    position: fixed;
}

.navbar-top{
	max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.navbar-top-icons ul li a{
	color: #1e1e1e;
}

.img-top-logo-big{
	display: flex;
    align-items: center;
    margin-right: 10px;
}
.search-mobile-button{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 52px;
	width: 52px;
	align-items: center;
	justify-content: center;
	font-size: 19px;
	cursor: pointer;
}
.menu-search-container{
	flex: 3;
	max-width: 290px;
	position: relative;
	right: 0;
	top: 0;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-search-container.active{
	position: absolute;
	top: 52px;
	left: 0;
	max-width: 100%;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.menu-search-container.active #search-input{
	border-radius: 5px;
}
.menu-search-container.active .nav-search-btn{
	height: 35px;
	right: 10px;
	top: 9px;
	background-color: #F79321;
	border-radius: 0 5px 5px 0;
	color: #FFF;
}

.nav-search{
	margin: 0;
	width: 100%;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#search-input{
	height: 35px;
	color: #333;
	font-size: 13px;
	width: 100%;
	margin: 0;
	padding: 7px 45px 7px 10px;
	border-radius: 25px;
	border: 1px solid #ccc;
	outline: 0;
}
.nav-search-btn{
	border: 0;
	height: 33px;
	width: 46px;
	background-color: #FFFFFF;
	top: 10px;
	right: 1px;
	border-radius: 25px;
	position: absolute;
	font-size: 18px;
	color: #666;
	cursor: pointer;
	padding: 0;
}
.nav-search-btn:active, .nav-search-btn:focus{
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;
}
button.nav-search-btn:focus .fa-search {
	font-size: 16px;
}
.nav-search-btn span{
	display: none;
}

.img-top-logo-big a{
	z-index: 6;
	display: flex;
	align-items: center;
}
.img-top-logo-big img{
	float: left;
}

.container-home-image{
	background-image: url(../images/wallpaper_small.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 100%;
	margin-top: -20px;
	right: 0;
	display: flex;
	position: absolute;
}

.effect-phrase{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'montserratmedium', sans-serif;
	background-color: rgba(6, 30, 38, .65);
	padding: 20px;
}
.effect-phrase h1{
	max-width: 600px;
	font-size: 32px;
}
.effect-phrase h1 span{
	color: #F79321;
}
.effect-phrase a{
	font-size: 11px;
	color: #FFFF;
	text-decoration: underline;
	font-weight: 100;
}

.container-content-homepage{
	margin-top: 350px;
}

.site-container{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}

.site-map{
	text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: black;
	padding-bottom: 15px;
	border-bottom: 1px solid #F79321;
}
.site-map a{
	color: black;
    font-weight: 500;
}
.site-map a:hover{
	color: #F79321;
	text-decoration: none;
}
.site-map span{
	font-weight: bold;
	color: #F79321;
}

.filterarea{
	border-right: 1px solid #EEEEEE;
}
.responsive-categories-title {
	display: none;
	text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.responsive-categories-title i{
	float: right;
	margin-right: 10px;
}

.share-area{
	margin-top: 40px;
}

footer {
	margin-top: 40px;
	padding-top: 45px;
	background-color: #F9F9F9;
    border-top: 1px solid #e0e0e0;
}
.footer-corporation-info{
    text-align: center;
}
.footer-corporation-info a{
    display: block;
}
.subarea {
	margin-bottom:30px;
}
.subarea form {
	margin:0;
	padding:0;
	display: flex;
}
.subarea:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
    margin-top: 25px;
}
.subarea .subemail {
	margin:0;
	flex: 3;
	height:50px;
	display:inline-block;
	border:0;
	padding:0;
	border:1px solid #E0E0E0;
	border-radius:5px 0 0 5px;
	outline:0;
	padding-left:15px;
}
.subarea .subemail:read-only{
	cursor: not-allowed;
}
.subarea button {
	flex: 1;
	cursor: pointer;
	margin:0;
	height:50px;
	display:inline-block;
	border:0;
	padding:0;
	outline:0;
	border-radius:0 5px 5px 0;
	margin-left: -5px;
	color:#FFF;
	background-color:#F79321;
	min-width: 110px;
}
.subarea button:hover {
	background-color:#F79321;
}
.subarea button:disabled{
	cursor: not-allowed;
}
.newsletter-top{
	margin-bottom:30px;
}
.newsletter-top form{
	display: flex;
	margin:0;
	padding:0;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.newsletter-top .subemail {
	margin:0;
	flex: 3;
	height:50px;
	display:inline-block;
	border:0;
	padding:0;
	border: 1px solid #E0E0E0;
	border-radius:5px 0 0 5px;
	outline:0;
	padding-left:15px;
}
.newsletter-top .subemail:read-only{
	cursor: not-allowed;
}
.newsletter-top button {
	cursor: pointer;
	margin:0;
	height:50px;
	display:inline-block;
	border:0;
	padding:0;
	outline:0;
	border-radius:0 5px 5px 0;
	margin-left: -5px;
	color:#FFF;
	background-color:#F79321;
	width: 70px;
	font-size: 20px;
}
.newsletter-top button:hover {
	background-color:#F79321;
}
.newsletter-top button:disabled{
	cursor: not-allowed;
}
footer h3 {
	margin-top:0;
	margin-left:0;
	margin-bottom:30px;
	font-size:18px;
}
.links {
	margin-bottom:20px;
}
.linkgroups a {
	color: #acacac;
	text-decoration: none;
}
.linkgroups a:hover {
	color:#F79321;
}
.linkgroups ul,
.linkgroups li {
	margin:0 0 12px 0;
	padding:0;
	list-style:none;
}
.copyright {
	background-color: #3D3D3D;
    padding: 10px 0;
    line-height: 30px;
    color: #8a8a8a;
}
.copyright span {
	color:#FFF;
}


.list-subcategories{
	list-style: none;
	padding: 0;
}

.list-subcategories li{
	list-style: none;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.list-subcategories li a{
	display: block;
	color: black;
}
.list-subcategories li a:hover{
	color: #F79321;
	text-decoration: none;
}

.tutorial-container{
	margin-top: 50px;
	margin-bottom: 55px;
}
.tutorial-title{
	margin-bottom: 25px;
}
.tutorial-title h2{
	text-align: center;
	color: #3D3D3D;
	font-family: 'montserratbold', sans-serif;
}
.tutorial-text{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.div-invisible{
	display: none;
}
.image-area{
	padding: 10px;
	border: 1px solid #bbb;
	margin-top: 15px;
	max-width: 400px;
}
.btn-orange{
	background-color: #F79321;
	border-color: #F79321;
	color: #FFFFFF;
}
.slick-prev:before, .slick-next:before {
	color: black;
}
.slick-prev {
	z-index: 1;
    margin-left: 35px;
}
.slick-next {
	z-index: 1;
    margin-right: 35px;
}
.highlights h3{
	color: #3D3D3D;
	font-family: 'montserratbold', sans-serif;
}
.highlights_container{
	padding-left: 15px;
	padding-right: 15px;
}

.item-container{
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: all .3s ease-out;
	height: auto;
	margin-bottom: -15px;
	overflow: hidden;
}
.item-container:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.medias_container{
	width: 100%;
	height: 1px;
}
.tutorial_media_container{
	width: 100%;
	height: 1px;
	overflow: hidden;
}

.media-type-1, .media-type-2 {
	height: 1px;
	position: relative;
}
.media-type-1 img, .media-type-2 img {
	width: 100%;
	margin: auto;
	opacity: 1;
}
.media-type-2 img {
}
.media-type-1 img{
	margin-top: -9.5%;
}
.play-button.play-sm{
	width: 50px;
	height: 35px;
	border-radius: 5px;
}
.principal-play-button.play-sm{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.play-button.play-md{
	width: 70px;
	height: 45px;
	border-radius: 5px;
}
.principal-play-button.play-md{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.play-button.play-big {
	width: 90px;
	height: 60px;
	border-radius: 6px;
}
.principal-play-button.play-big{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.play-button {
	background-color: #333;
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.9;
	cursor: pointer;
}
.principal-play-button{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 1;
	cursor: pointer;
}
.play-button:hover{
	opacity: 1;
	background-color: #e52d27;
	box-shadow: 0 0 40px rgba( 0,0,0,0.8 );
}
.play-button.play-sm:before{
	border-width: 7px 0 7px 14px;
}
.play-button.play-md:before{
	border-width: 10px 0 10px 20px;
}
.play-button.play-big:before{
	border-width: 15px 0 15px 26.0px;
}
.play-button:before{
	content: "";
	border-style: solid;
	border-color: transparent transparent transparent #fff;
}
.principal-play-button:before{
	margin-left: 4px;
	border-color: transparent transparent transparent #3D3D3D;
}
.principal-play-button:hover::before{
	border-color: transparent transparent transparent #fff;
}
.play-button,
.play-button:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}

.media-type-1 iframe, .media-type-2 iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.media-type-3{
	height: 1px;
	position: relative;
}
.media-type-3 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ad-description{
	display: block;
	height: auto;
	cursor: pointer;
	padding: 20px;
	color: #656565;
	font-family: 'montserratmedium', sans-serif;
}
.ad-description:hover{
	text-decoration: none;
	color: #656565;
}
.ad-description-title{
	color: #262626;
}
.ad-description-abstract{
	display: block;
	height: 65px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}
.rating-image {
    margin: 0;
    width: 82px;
	height: 15px;
	background-image: url(../images/rating.png);
    background-repeat: no-repeat;
	background-position: 1000px 1000px;
}
.rating-image.rating-stars-2_0{
	background-position:0 0
}
.rating-image.rating-stars-2_5{
	background-position:0 -15px
}
.rating-image.rating-stars-3_0{
	background-position:0 -30px
}
.rating-image.rating-stars-3_5{
	background-position:0 -45px
}
.rating-image.rating-stars-4_0{
	background-position:0 -60px
}
.rating-image.rating-stars-4_5{
	background-position:0 -75px
}
.rating-image.rating-stars-5_0{
	background-position:0 -90px
}
.promo-box {
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 1;
}
.promo.sale {
    background: #ff8327;
}
.promo.bestseller {
    background: #ea4f3b;
}
.promo.new{
	background: #2183c9;
}
.promo {
	width: fit-content;
    height: 33px;
    text-align: center;
    font-family: 'montserratbold', sans-serif;
	position: absolute;
    right: 0;
}
.promo-text {
    color: #fff;
    font-size: .75rem;
	line-height: 33px;
	text-transform: uppercase;
	padding-left: 15px;
    padding-right: 15px;
	display: block;
	width: 100%;
}
.promo.sale:after {
    border-color: #fd6c00 transparent transparent;
}
.promo.bestseller:after {
    border-color: #cd2b16 transparent transparent;
}
.promo.new:after{
	border-color: #2183c9 transparent transparent
}
.promo+.promo {
    margin-top: 38px;
}
.promo+.promo+.promo {
    margin-top: 77px;
}
.promo:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.contact-container, .about-container, .card-block, .card-block-info{
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	height: auto;
	padding: 20px;
	margin: 20px;
}
.card-block{
	margin-left: 0;
	margin-right: 0;
}
.contact-message{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.save-contact-button{
	font-family: 'montserratlight', sans-serif;
	border-radius: 0;
	margin-top: 15px;
}
.about-quote{
	background-color: #EEE;
	padding: 20px;
}
.about-quote-author{
	font-style: italic;
	font-weight: bold;
}
.about-quote i{
	color: #F79321;
}

.card-block-description{
	text-align: justify;
}
.card-block-description p{
	text-align: justify;
}

@media all and (max-width: 767px) {
	.tutorial-video{
		margin-left: 0;
	}
	.offset-media{
		margin-left: 0;
	}
	.tutorial-text{
		margin-top: 15px;
		text-align: center;
	}
}

@media all and (max-width: 575px) {
	#search-input{
		font-size: 16px;
	}
	.site-map{
		font-size: 11px;
	}
	.subarea button{
		height: 45px;
	}
	.newsletter-top button{
		width: 50px;
		font-size: 17px;
		height: 45px;
	}
	.subarea .subemail, .newsletter-top .subemail{
		height: 45px;
		font-size: 16px;
	}
	.subarea:before {
		margin-top: 23px;
	}
	.links{
		text-align: center;
	}
	.linkgroups .col-sm-5, .linkgroups .col-sm-7{
		margin-top: 10px;
		padding-top: 10px;
	}
	.footer-corporation-info{
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}
	.slick-prev,
	.slick-next {
		width: 25px;
		height: 25px;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 25px;
	}
	.slick-next {
		margin-right: 50px;
	}
}

@media all and (max-width: 390px) {
	.subarea button {
		font-size: 13px;
		min-width: 90px;
	}
	.subarea .subemail {
		padding-left: 5px;
	}
}